@use "../../../node_modules/vuetify/_styles.scss";
@use "../master";

/*
    Phones
*/
@media screen and (max-width: 599px) {
    .body-container {
        min-height: 100%;
        padding: 4vw !important;
        padding-top: 6vw !important;
    }
}

/*
  Tablets and computers
*/
@media screen and (min-width: 600px) {
    .body-container {
        min-height: 100%;
        padding: 3vw 5vw 3vw 5vw !important;
    }
}

/*
    App skeleton
*/
.app-container {
    @extend .h-100;
    @extend .pa-0;
    position: relative;
}

/*
    Alert component
*/
.alert-component {
    @extend .w-100;
    z-index: 9999;
    position: relative;
    top: 0px;
}

/*
    Search component
*/
.autocomplete-container {
    @extend .mx-4;
}
.autocomplete-search {
}
.autocomplete-search-mobile {
    @extend .autocomplete-search;
    @extend .w-100;
}
.autocomplete-search-computer {
    @extend .autocomplete-search;
    @extend .my-3;
    @extend .mx-4;
}

/*
    Map components
*/
.map-details {
}
.map-details-mobile {
    @extend .map-details;
    @extend .ml-0;
}
.map-details-computer {
    @extend .map-details;
    height: 100vh;
    width: 500px;
    display: flex !important;
    flex-direction: column;
}

.map-readonly-data {
}
.map-readonly-data-mobile {
    @extend .map-readonly-data;
}
.map-readonly-data-computer {
    @extend .map-readonly-data;
    @extend .ma-3;
    @extend .pa-4;
    max-height: 85%;
    width: 400px;
    position: absolute;
    top: 0;
    right: 0;
}

.time-slider {
}
.time-slider-mobile {
    @extend .time-slider;
}
.time-slider-computer {
    @extend .time-slider;
    @extend .mb-6;
    @extend .py-1;
    @extend .pl-6;
    @extend .pr-3;
    @extend .bg-white;
    @extend .rounded-lg;
    position: absolute;
    left: 50%;
    right: 50%;
    width: 300px;
    bottom: 0;
}

.map-data {
    flex-grow: 1;
    overflow: auto;
    scrollbar-color: master.$scrollbars;
}
.map-data-mobile {
    @extend .map-data;
}
.map-data-computer {
    @extend .map-data;
    @extend .mt-3;
    @extend .mb-5;
    @extend .mx-2;
    @extend .pa-2;
    @extend .pb-0;
    @extend .h-100;
    overflow-x: hidden;
    overflow-y: scroll;
}

.map-data::-webkit-scrollbar {
    width: 8px;
}
.map-data::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: master.$scrollbars;
    border-right: 3px solid white;
}
.map-data::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
    @extend .my-3;
}

/*
    Class conditionals: apply some caracteristics based on some values. Should always come in pair
*/
.button-selection-border {
    @extend .emphasis;
    color: master.$theme;
    border: 2px solid master.$theme;
}

.button-non-selection-border {
}

.button-selection-background::before {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background: master.$theme;
}

.button-non-selection-background::before {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background: master.$light-grey;
    opacity: 0.2;
}

.icon-selection-color {
    color: master.$theme;
}

.icon-non-selection-color {
}

.pollutant-card {
    @extend .my-5;
    @extend .pa-3;
    @extend .pb-0;
    @extend .rounded-lg;
    @extend .text-center;
    @extend .theme-surface-contrast;
}

.panel-selection-btn {
    @extend .mx-1;
    @extend .text-left;
    width: calc(50% - 10px);
}

.optimization-card {
    @extend .w-100;
    @extend .pa-1;
    @extend .my-3;
    @extend .universal-font-theme;
    @extend .rounded-lg;
}

.hovering-elevation-card {
    box-shadow:
        0px 3px 3px -2px master.$light-grey,
        0px 3px 4px 0px master.$light-grey,
        0px 1px 8px 0px master.$light-grey !important;
}

.v-divider {
    border-width: 1.5px;
}

.home-main-image {
    @extend .mx-auto;
    @extend .py-10;
    @extend .mb-16;
    width: 85%;
}

.app-menu-card {
    @extend .pa-2;
    @extend .rounded-xl;
    min-width: 200px;
}

.app-menu-option {
    @extend .pa-2;
    @extend .my-2;
    @extend .rounded-xl;
    @extend .w-100;
}

.app-menu-option-icon-container {
    @extend .pl-4;
    @extend .pr-0;
}

.app-menu-option-text-container {
    @extend .text-center;
}