@use "../../../node_modules/vuetify/_styles.scss";
@use "../master";

/*
    Phones
*/
@media screen and (max-width: 599px) {
    .pricing-card {
        margin: 3vw 0 3vw 0;
    }
    .form-dialog-content {
        padding: 16px 10px 10px !important;
    }
}

/*
  Tablets and computers
*/
@media screen and (min-width: 600px) {
    .pricing-card {
        margin: 1vw;
    }
    .form-dialog-content {
        padding: 16px 24px 10px !important;
    }
}

.app-container {
    @extend .h-100;
    @extend .pa-0;
    position: relative;
}

.toast-content {
}

.dark-toast-content {
    @extend .toast-content;
    background-color: master.$dark-surface-lighter-1 !important;
    border: 1px solid master.$dark-line !important;
}

.light-toast-content {
    @extend .toast-content;
    background-color: master.$light-surface !important;
    border: 1px solid master.$light-line !important;
}

.toast-text {
    p {
        @extend .font-weight-regular;
    }
}

.dark-toast-text {
    @extend .toast-text;
    p {
        @extend .text-white;
    }
    
}

.light-toast-text {
    @extend .toast-text;
    p {
        @extend .text-black;
    }
}

.autocomplete-container {
    @extend .mx-4;
}
.autocomplete-search {
    @extend .mt-0;
    @extend .px-1;
    .v-field__input {
        height: 40px !important;
        max-height: 40px !important;
        min-height: 40px !important;
    }
}
.autocomplete-search-mobile {
    @extend .autocomplete-search;
    @extend .w-100;
}
.autocomplete-search-computer {
    @extend .autocomplete-search;
    @extend .my-3;
    @extend .mx-4;
}

.map-details {
}
.map-details-mobile {
    @extend .map-details;
    @extend .ml-0;
    height: 100vh;
    width: 100vw;
}
.map-details-computer {
    @extend .map-details;
    height: 100vh;
    width: 400px;
    display: flex !important;
    flex-direction: column;
}

.map-readonly-data {
    @extend .pa-4;
    @extend .rounded-xl;
    overflow-y: auto;
    max-height: 85%;
    position: absolute;
}
.map-readonly-data-mobile {
    @extend .map-readonly-data;
    @extend .mt-3;
    width: 95%;
    transform: translate(-50%, 0);
    left: 50%;
}
.map-readonly-data-computer {
    @extend .map-readonly-data;
    @extend .ma-3;
    width: 400px;
    right: 0;
    top: 0;
}

.time-slider {
    @extend .mb-6;
    @extend .py-1;
    @extend .pl-6;
    @extend .pr-6;
    @extend .bg-white;
    @extend .rounded-lg;
}
.time-slider-mobile {
    @extend .time-slider;
    width: 90vw;
    max-width: 300px;
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 0;
}
.time-slider-computer {
    @extend .time-slider;
    position: absolute;
    left: 50%;
    right: 50%;
    width: 300px;
    bottom: 0;
}

.map-data {
    scrollbar-color: master.$scrollbars;
}
.map-data-mobile {
    @extend .map-data;
    @extend .mt-8;
}
.map-data-computer {
    @extend .map-data;
    @extend .mt-3;
    @extend .mb-5;
    @extend .mx-2;
    @extend .pa-2;
    @extend .pb-0;
    @extend .h-100;
    flex-grow: 1;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.map-data::-webkit-scrollbar, .map-readonly-data::-webkit-scrollbar {
    width: 6px;
}
.map-data::-webkit-scrollbar-thumb, .map-readonly-data::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px master.$scrollbars;
    border-radius: 10px;
    background-color: master.$scrollbars;
}
.map-data::-webkit-scrollbar-track, .map-readonly-data::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
    @extend .my-5;
}

.panel-selection-btn {
    @extend .mx-1;
    @extend .text-left;
    width: calc(50% - 10px);
}

.optimization-card {
    @extend .w-100;
    @extend .pa-1;
    @extend .my-3;
    @extend .universal-font-theme;
    @extend .rounded-lg;
}

.hovering-elevation-card {
    box-shadow:
        0px 3px 3px -2px master.$light-grey,
        0px 3px 4px 0px master.$light-grey,
        0px 1px 8px 0px master.$light-grey !important;
}

.v-divider {
    border-width: 1.5px;
}

.app-menu-container {
    @extend .pa-2;
    @extend .rounded-lg;
    min-width: 200px;
}

.app-menu-card {
    @extend .pa-2;
    @extend .my-2;
    @extend .rounded-lg;
    @extend .w-100;
}

.dark-app-menu-card {
    @extend .app-menu-card;
    border: 1px solid master.$dark-line
}

.light-app-menu-card {
    @extend .app-menu-card;
    border: 1px solid master.$light-line;

}

.app-menu-option-icon-container {
    @extend .pl-4;
    @extend .pr-0;
}

.app-menu-option-text-container {
    @extend .text-center;
}

.pricing-card-container {
    @extend .mx-auto;
    @extend .justify-center;
    @extend .my-6;
    max-width: 1200px;
}

.pricing-card {
    @extend .py-5;
    @extend .px-4;
    min-height: 800px;
}

.dark-pricing-color {
    background-color: #292929;
}

.dark-pricing-card {
    @extend .dark-pricing-color;
}

.light-pricing-card {
}

.pricing-card-title-section {
    min-height: 120px;
}

.pricing-card-name {
    @extend .text-overline;
    font-size: 1.25rem !important;
}

.pricing-card-description {
    @extend .text-medium-emphasis;
    @extend .font-weight-regular;
    font-size: 0.9rem !important;
    line-height: 1.25rem;
}

.pricing-card-action {
    @extend .rounded-lg;
    @extend .font-weight-medium;
    @extend .w-100;
    @extend .mb-4;
}

.pricing-card-suggestions-container {
    @extend .my-3; 
    @extend .py-0;
}

.pricing-card-suggestion {
    @extend .px-2;
    @extend .py-3;
}

.dark-pricing-card-suggestion {
    @extend .pricing-card-suggestion;
    @extend .dark-pricing-color;
}

.light-pricing-card-suggestion {
    @extend .pricing-card-suggestion;
}

.pricing-card-suggestion-title {
    @extend .text-wrap;
}

.pricing-card-suggestion-description {
    -webkit-line-clamp: inherit;
}

.dark-pricing-card-suggestion-description {
    @extend .pricing-card-suggestion-description;
    @extend .text-medium-emphasis;
}

.light-pricing-card-suggestion-description {
    @extend .pricing-card-suggestion-description;
}

.google-autocompletes {
    height: 40px !important;
    max-height: 40px !important;
    min-height: 40px !important;
}

.billable-card {
    @extend .h-100;
}

.billable-card-container {
    @extend .pa-6;
}

.billable-card-title {
    @extend .text-h5; 
    @extend .mb-6; 
    @extend .font-weight-black;
}

.billable-item-container {
    @extend .text-h6; 
    @extend .my-0;
    @extend .py-2;
}

.billable-item-title {
    @extend .py-0;
}

.billable-item-value {
    @extend .py-0;
}

.form-dialog-content {}