@use "../../../node_modules/vuetify/_styles.scss";
@use "../master";

/*
    Phones
*/
@media screen and (max-width: 599px) {
}

/*
  Tablets and computers
*/
@media screen and (min-width: 600px) {
}

.light-theme-chart {
    .apexcharts-tooltip,
    .apexcharts-tooltip-title,
    .apexcharts-xaxistooltip,
    .apexcharts-menu,
    .apexcharts-menu-item:hover {
        border: 1px solid master.$light-surface-darker-1 !important;
        background-color: master.$light-surface !important;
        color: master.$dark-surface;
    }
}

.dark-theme-chart {
    .apexcharts-tooltip,
    .apexcharts-tooltip-title,
    .apexcharts-xaxistooltip,
    .apexcharts-menu,
    .apexcharts-menu-item:hover {
        border: 1px solid master.$dark-surface-lighter-1 !important;
        background-color: master.$dark-surface !important;
        color: master.$light-surface;
    }
}
