@use "../../../node_modules/vuetify/_styles.scss";
@use "../master";

/*
    Phones
*/
@media screen and (max-width: 599px) {
    .page-container {
        min-height: 100%;
        padding: 3vw 5vw 3vw 5vw !important;
    }
    .page-section-container {
        padding: 6vw 0vw 6vw 0vw !important;
    }
    .page-title-container {
        width: 100%;
    }
    .page-title {
        font-size: 2.5rem;
        line-height: 2.625rem;
    }
    .page-subtitle-container {
        width: 100%;
    }
    .paragraph-container {
        width: 100%;
    }
    .footer-sections-container {
        margin: 0vw 3vw 0vw 3vw;
    }
    .footer-section {
        margin: 2vw 0vw 2vw 0vw;
    }
}

/*
  Tablets and computers
*/
@media screen and (min-width: 600px) {
    .page-container {
        min-height: 100%;
        padding: 4vw !important;
        padding-top: 6vw !important;
    }
    .page-section-container {
        padding: 4vw 0vw 4vw 0vw !important;
    }
    .page-title-container {
        width: 70%;
    }
    .page-title {
        font-size: 3rem;
        line-height: 3.125rem;
    }
    .page-subtitle-container {
        width: 80%;
    }
    .paragraph-container {
        width: 60%;
    }
    .footer-sections-container {
        margin: 0vw 4vw 0vw 4vw;
    }
    .footer-section {
        margin: 2vw 0vw 2vw 0vw;
    }
}

.bigger-page-content-font {
    line-height: 1.5rem;
    font-size: 1.4rem;
}

.normal-page-content-font {
    line-height: 1.5rem;
    font-size: 1.1rem;
}

.page-container {
    padding-top: 0 !important;
}

.page-section-container {
}

.page-section-title-container {
    @extend .mb-5;
}

.page-section-title {
    @extend .px-0;
    @extend .text-h5;
}

.page-section-subtitle {
    @extend .px-0; 
    @extend .text-subtitle-1;
    @extend .text-wrap;
}

.page-title-container {
    @extend .text-center;
    @extend .mx-auto;
}

.page-title-precontent {
}

.page-title {
    @extend .my-3;
    @extend .font-weight-regular;
}

.page-title-precision {
    @extend .mt-5;
    @extend .mx-auto;
    @extend .font-weight-regular;
    width: 80%;
    font-size: 1.1rem;
}

.page-title-action {
    @extend .pa-6;
    @extend .mt-7;
    @extend .mx-auto;
    @extend .rounded-lg; 
    @extend .text-center;
    font-size: 1.1rem;
    width: 250px;
}

.page-subtitle-container {
    @extend .mx-auto;
    width: 95%;
}

.page-subtitle-precontent {
}

.page-subtitle {
    @extend .text-h4;
    @extend .my-3;
    @extend .text-center;
    @extend .font-weight-regular;
}

.page-subtitle-precision {
    @extend .mt-3;
    @extend .mx-auto;
    @extend .font-weight-regular;
    @extend .text-center;
    width: 80%;
    font-size: 1.1rem;
}

.page-subtitle-content {
    @extend .py-5;
    @extend .normal-page-content-font;
}

.page-subtitle-action {
}

.short-description-items-container {
}

.short-description-single-item-container {
    @extend .mx-auto;
    @extend .my-6;
    @extend .px-5;
}

.short-description-item-icon {
    @extend .mb-3;
    @extend .mx-auto;
}

.short-description-item-title {
    @extend .bigger-page-content-font;
    @extend .font-weight-medium;
    @extend .mb-3;
}

.short-description-item-content {
    @extend .normal-page-content-font;
    @extend .mb-3;
}

.short-description-single-item-action {
}

.paragraph-container {
    @extend .py-3;
}

.paragraph-content {
    @extend .normal-page-content-font;
    @extend .mb-3;
}

.paragraph-action {
    @extend .rounded-lg; 
    @extend .font-weight-medium;
    @extend .mx-auto;
}

.footer {
    @extend .py-0;
}

.footer-sections-container {}

.footer-section {}

.footer-section-title {
    @extend .pb-2;
    @extend .font-weight-medium;
    font-size: 1.1rem;
}

.footer-section-item {
    @extend .py-2;
    @extend .font-weight-light;
    a,
    a:visited,
    a:hover,
    a:active {
        color: inherit !important;
        text-decoration: none !important;
    }
    a:hover {
        text-decoration: underline !important;
    }
}

.pc-image-container {
    @extend .mx-auto;
}

.mobile-image-container {
    @extend .mx-auto;
}
