@use "../../../node_modules/vuetify/_styles.scss";
@use "../master";

/*
    Phones
*/
@media screen and (max-width: 599px) {
    .home-title-container {
        width: 100%;
    }
    .home-subtitle-container {
        width: 100%;
    }
}

/*
  Tablets and computers
*/
@media screen and (min-width: 600px) {
    .home-title-container {
        width: 50%;
    }
    .home-subtitle-container {
        width: 80%;
    }
}

.subsection-title {
    @extend .mb-2;
    font-size: 1rem;
}

.detail-text {
    @extend .pb-1;
    @extend .font-weight-regular;
    font-size: 0.75rem;
}

.home-title-container {
    @extend .mt-8;
    @extend .mb-11;
    @extend .text-center;
    @extend .mx-auto;
}

.home-title {
    @extend .text-h3;
    @extend .mt-3;
    @extend .font-weight-thin;
}

.home-title-description {
    @extend .mt-5;
    @extend .mx-auto;
    width: 80%;
    font-size: 1.1rem;
}

.home-title-action {
    @extend .mt-5;
    @extend .mx-auto;
}

.home-subtitle-container {
    @extend .my-8;
    @extend .mx-auto;
    width: 95%;
}

.home-subtitle {
    @extend .text-h4;
    @extend .mb-16;
    @extend .text-center;
    @extend .font-weight-thin;
}

.home-subtitle-content {
    line-height: 1.5rem;
    font-size: 1.1rem;
}

.page-title {
    @extend .text-h4;
}

.page-subtitle {
    @extend .text-h5;
    @extend .font-weight-bold;
}

.v-card-text {
    * {
        @extend .universal-font-size;
        @extend .universal-font-family;
        line-height: 2rem !important;
        font-size: 1.1rem !important;
        font-weight: 300;
    }
}

b {
    @extend .font-weight-bold;
}