@use "../../../node_modules/vuetify/_styles.scss";
@use "../master";

.detail-text {
    @extend .pb-1;
    @extend .font-weight-regular;
    font-size: 0.75rem;
}

.v-card-text {
    * {
        @extend .universal-font-size;
        @extend .universal-font-family;
        line-height: 2rem !important;
        font-size: 1.1rem !important;
        font-weight: 300;
    }
}

b {
    @extend .font-weight-bold;
}

.title-break {
    white-space: normal;
    word-break: break-word;
}

.v-card-title {
    @extend .title-break;
}

.form-subtitle-in-card {
    @extend .font-weight-medium;
}

.form-section-in-sheet {
    @extend .pa-2;
}
