@use "../../../node_modules/vuetify/_styles.scss";
@use "../master";

.detail-text {
    @extend .pb-1;
    @extend .text-medium-emphasis;
    font-size: 0.75rem;
}

.detail-text-no-color-change {
    @extend .pb-1;
    font-size: 0.75rem;
}

.detail-text-same-size {
    @extend .pb-1;
    @extend .text-medium-emphasis;
}

b {
    @extend .font-weight-bold;
}

.title-break {
    white-space: normal;
    word-break: break-word;
}

.v-card-title {
    @extend .title-break;
}

.form-dialog-section-title {
    @extend .font-weight-medium;
    @extend .mb-4;
}

.form-dialog-section-container {
    @extend .pa-2;
}
