@use "../../../node_modules/vuetify/_styles.scss";
@use "../master";

/*
    Phones
*/
@media screen and (max-width: 599px) {
}

/*
  Tablets and computers
*/
@media screen and (min-width: 600px) {
}

.v-btn {
    @extend .universal-font-theme;
    text-transform: none;
    font-weight: normal;
}

.no-background-hover {
    opacity: 100% !important;
}

.no-btn-hover-bg {
    .v-btn__overlay {
        background-color: transparent !important;
    }
}

#expansion-panel-second-layer .v-expansion-panel-text__wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.v-expansion-panel-title--active {
    background-color: transparent !important;
}

.v-expansion-panel-title__overlay {
    background-color: transparent !important;
}

.v-label {
    opacity: 1;
}

.v-field__input {
    height: 40px !important;
    max-height: 40px !important;
    min-height: 40px !important;
}

.v-field {
    height: 40px !important;
    max-height: 40px !important;
    min-height: 40px !important;
}

.tooltip {
    .v-overlay__content {
        @extend .font-weight-bold;
        border-radius: 20px !important;
    }
}

.radio-custom-label {
    .v-label {
        @extend .ml-4;
    }
}

.switch-custom-label {
    .v-label {
        @extend .ml-4;
    }
}
