@use "../../../node_modules/vuetify/_styles.scss";
@use "../master";

.v-btn {
    @extend .universal-font-theme;
    text-transform: none;
    font-weight: normal;
}

#expansion-panel-second-layer .v-expansion-panel-text__wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.v-expansion-panel-title--active {
    background-color: transparent !important;
}

.v-expansion-panel-title__overlay {
    background-color: transparent !important;
}

.v-label {
    opacity: 1;
}

.v-field__input {
    height: 40px !important;
    max-height: 40px !important;
    min-height: 40px !important;
}

.v-field {
    height: 40px !important;
    max-height: 40px !important;
    min-height: 40px !important;
}
