@use "../../../node_modules/vuetify/_styles.scss";

$theme: rgba(80, 164, 144, 1);
$theme-darker-1: rgba(72, 147, 129, 1);
$theme-darker-2: rgba(64, 131, 115, 1);
$theme-darker-3: rgba(56, 114, 100, 1);
$theme-darker-4: rgba(48, 98, 86, 1);
$theme-lighter-1: rgba(97, 173, 155, 1);
$theme-lighter-2: rgba(115, 182, 166, 1);
$theme-lighter-3: rgba(132, 191, 177, 1);
$theme-lighter-4: rgba(150, 200, 188, 1);

$dark-surface: rgba(18, 18, 18, 1);
$dark-surface-lighter-1: rgba(33, 33, 33, 1);

$light-surface: rgba(255, 255, 255, 1);
$light-surface-darker-1: rgba(221, 221, 221, 1);

$scrollbars: rgba(85, 85, 85, 1);
$light-grey: rgba(148, 148, 148, 1);



.universal-font-theme {
    @extend .font-weight-light;
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
}

.emphasis {
    @extend .font-weight-medium;
}

.no-emphasis {
    @extend .font-weight-light;
}

.subsection-title {
    @extend .mb-2;
    font-size: 1rem;
}

.detail-text {
    @extend .pb-1;
    @extend .font-weight-regular;
    font-size: 0.75rem;
}
