@use "../../node_modules/vuetify/_styles.scss";

$theme: rgba(62, 158, 135, 1);

$theme-surface-contrast: rgba(48, 98, 86, 0.12);

$dark-surface: rgba(18, 18, 18, 1);
$dark-surface-lighter-1: rgba(33, 33, 33, 1);
$dark-surface-lighter-2: rgba(43, 43, 43, 1);

$light-surface: rgba(255, 255, 255, 1);
$light-surface-darker-1: rgba(221, 221, 221, 1);

$scrollbars: rgb(34, 34, 34);
$light-grey: rgba(148, 148, 148, 1);

.theme-surface-contrast {
    background-color: $theme-surface-contrast !important;
}

.universal-font-size {
    font-size: 0.9rem;
}

.universal-font-family {
    font-family: "Roboto", sans-serif;
}

.titles-font-spacing {
    letter-spacing: 0.15em;
}

.universal-font-theme {
    @extend .font-weight-light;
    @extend .universal-font-size;
    @extend .universal-font-family;
}

.emphasis {
    @extend .font-weight-medium;
}

.no-emphasis {
    @extend .font-weight-light;
}

.anchor-with-theme {
    color: $theme;
    a,
    a:visited,
    a:hover,
    a:active {
        color: inherit !important;
        text-decoration: none !important;
    }
    a:hover {
        text-decoration: underline !important;
    }
}
