@import '../node_modules/vuetify/_styles.scss';

/*
    Variable definitions
*/
$theme: #50a490;
$light-grey: #949494;
$scrollbars: #555;


/*
    Phones
*/
@media screen and (max-width: 599px) {
}
  

/*
  Tablets and computers
*/
@media screen and (min-width: 600px) {
}


/*
    App skeleton
*/
.app-container {
    @extend .h-100;
    @extend .pa-0;
    position: relative;
}


/*
    Alert component
*/
.alert-component {
    @extend .w-100;
    z-index: 9999;
    position: relative;
    top: 0px;
}


/*
    Search component
*/
.autocomplete-search {
    @extend .px-3;
    .v-field.v-field--prepended {
        @extend .py-1;
        border: 1px solid rgba(0, 0, 0, 0.4);
    };
    max-height: 2rem !important;
}
.autocomplete-search-mobile {
    @extend .autocomplete-search;
    @extend .w-100;
}
.autocomplete-search-computer {
    @extend .autocomplete-search;
    @extend .w-100;
    @extend .my-4;
}


/*
    Air quality component
*/
.map-details {
    @extend .bg-white;
}
.map-details-mobile {
    @extend .map-details;
    @extend .ml-0;
}
.map-details-computer {
    @extend .map-details;
    @extend .bg-white;
    height: 100vh;
    width: 500px;
    display: flex !important;
    flex-direction: column;
}

.map-data {
    flex-grow: 1;
    overflow: auto;
    scrollbar-color: $scrollbars;
}
.map-data-mobile {
    @extend .map-data;
}
.map-data-computer {
    @extend .map-data;
    @extend .mb-5;
    @extend .mx-2;
    @extend .pa-2;
    @extend .pb-0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.map-data::-webkit-scrollbar
{
	width: 8px;
}
.map-data::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: $scrollbars;
    border-right: 3px solid white;
} 
.map-data::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
    @extend .my-3;
}


/*
    Class conditionals: apply some caracteristics based on some values. Should always come in pair
*/
.button-selection-border {
    @extend .emphasis;
    color: $theme;
    border: 2px solid $theme;
}

.button-non-selection-border {
    border: 2px solid rgba(0, 0, 0, 0.15);
}

.button-selection-background {
    background-color: $theme;
}

.button-selection-background::before {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background: $theme;
}

.button-non-selection-background {
    border: 1px solid $theme;
}

.button-non-selection-background::before {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background: $light-grey;
    opacity: 0.20;
}

.icon-selection-color {
    color: white;
}

.icon-non-selection-color {
    color: $theme; 
}

.hovering-over-card-style {
    border: 2px solid $theme;
}

.not-hovering-over-card-style {
    border: 2px solid #d6d4d4;
}