/*
    Variable definitions
*/
$light-blue: #4C8BF5;
$light-grey: #949494;

/*
    Class conditionals: apply some caracteristics based on some values. Should always come in pair
*/
.button-selection-border {
    font-weight: bold !important;
    background-color: rgba(0, 0, 0, 0.10);
}

.button-non-selection-border {
}

.button-selection-background {
    background-color: $light-blue;
}

.button-selection-background::before {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background: $light-blue;
}

.button-non-selection-background {
    border: 1px solid $light-blue;
}

.button-non-selection-background::before {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background: $light-grey;
    opacity: 0.20;
}

.icon-selection-color {
    color: white;
}

.icon-non-selection-color {
    color: $light-blue; 
}

.hovering-over-card-style {
    color: black; 
    border: 2px solid $light-blue;
}

.not-hovering-over-card-style {
    color: $light-grey; 
    border: 2px solid #d6d4d4;
}

