@import '../node_modules/vuetify/_styles.scss';

/*
    Variable definitions
*/
$light-blue: #4C8BF5;
$light-grey: #949494;


/*
    Phones
*/
@media screen and (max-width: 599px) {
}
  

/*
  Tablets and computers
*/
@media screen and (min-width: 600px) {
}


/*
    App skeleton
*/
.app-container {
    @extend .h-100;
    @extend .pa-0;
    position: relative;
}



/*
    Alert component
*/
.alert-component {
    @extend .w-100;
    z-index: 9999;
    position: absolute;
    top: 0px;
}


/*
    Search component
*/
.autocomplete-search {
    @extend .px-3;
    .v-field.v-field--prepended {
        @extend .py-1;
        border: 1px solid rgba(0, 0, 0, 0.4);
    }
}
.autocomplete-search-mobile {
    @extend .autocomplete-search;
    @extend .w-100;
}
.autocomplete-search-computer {
    @extend .autocomplete-search;
    @extend .w-100;
    @extend .my-4;
}


/*
    Air quality component
*/
.air-quality-details {
    @extend .bg-white;
}
.air-quality-details-mobile {
    @extend .air-quality-details;
    @extend .ml-0;
}
.air-quality-details-computer {
    @extend .air-quality-details;
    @extend .bg-white;
    overflow-y: scroll;
    position: absolute;
    top: 0px;
    width: 400px;
    height: 100%;
}


/*
    Class conditionals: apply some caracteristics based on some values. Should always come in pair
*/
.button-selection-border {
    font-weight: bold !important;
    background-color: rgba(0, 0, 0, 0.10);
}

.button-non-selection-border {
}

.button-selection-background {
    background-color: $light-blue;
}

.button-selection-background::before {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background: $light-blue;
}

.button-non-selection-background {
    border: 1px solid $light-blue;
}

.button-non-selection-background::before {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background: $light-grey;
    opacity: 0.20;
}

.icon-selection-color {
    color: white;
}

.icon-non-selection-color {
    color: $light-blue; 
}

.hovering-over-card-style {
    color: black; 
    border: 2px solid $light-blue;
}

.not-hovering-over-card-style {
    color: $light-grey; 
    border: 2px solid #d6d4d4;
}