$text-theme: #50a490;
$text-emphasis: #535353; 

.universal-font-theme {
    @extend .font-weight-light;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
}

/*
    To create other classes with and to use in combination
*/

.emphasis {
    @extend .font-weight-medium;
}

.no-emphasis {
    @extend .font-weight-light;
}

/*
    To use in .vue files
*/
.map-title {
    @extend .text-center;
    @extend .font-weight-regular;
}

.section-title   {
    @extend .emphasis;
    @extend .mb-2;
    font-size: 1.1rem;
    color: $text-theme;
}

.subsection-title {
    @extend .emphasis;
    @extend .mb-2;
    font-size: 1rem;
    color: $text-emphasis;
}

.detail-text {
    @extend .pb-1;
    @extend .font-weight-regular;
    font-size: 0.75rem;
}