/*
    Google Map
*/
#map{

}


/*
    Search bar and its parent
*/
#autocomplete-search {
    font-size: 15px;
    text-overflow: ellipsis;
    border: none !important;
    height: 30px !important;
}
#parent-search {

}


/*
   Allows search bar height and remove bottom line
*/
.v-field {
    --v-field-input-padding-top: 0 !important;
    --v-field-input-padding-bottom: 0 !important;
}
.v-field--variant-filled .v-field__outline::before, .v-field--variant-underlined .v-field__outline::before {
    opacity: 0 ! important;
}
.v-field--variant-filled .v-field__outline::after, .v-field--variant-underlined .v-field__outline::after {
    opacity: 0 ! important;
}

