/*
    Google Map
*/
#map{

}


/*
    Search bar and its parent
*/
#search {
    font-family: Roboto;
    font-size: 15px;
    text-overflow: ellipsis;
    border: none !important;
    height: 30px !important;
}
#parent-search {

}


/*
   Allows search bar height
*/
.v-field {
    --v-field-input-padding-top: 0 !important;
    --v-field-input-padding-bottom: 0 !important;
}